
$menu-button: 'https://res.cloudinary.com/leonemil/image/upload/v1577047169/Starbone/menu-button.svg';
$gitlab: 'https://cdn.worldvectorlogo.com/logos/gitlab.svg';
$slack: 'https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/306_Slack_logo-512.png';

$desktop: (
    small: "https://res.cloudinary.com/leonemil/image/upload/v1580764048/Dev%20Team/pantalla-w480.jpg",
    medium: "https://res.cloudinary.com/leonemil/image/upload/v1580764053/Dev%20Team/pantalla-w949.jpg",
    large: "https://res.cloudinary.com/leonemil/image/upload/v1580764057/Dev%20Team/pantalla-w1302.jpg",
    xlarge: "https://res.cloudinary.com/leonemil/image/upload/v1580764059/Dev%20Team/pantalla-w1650.jpg",
);

$cinema: (
    small: "https://res.cloudinary.com/leonemil/image/upload/v1580764025/Dev%20Team/cine-w480.jpg",
    medium: "https://res.cloudinary.com/leonemil/image/upload/v1580764030/Dev%20Team/cine-w927.jpg",
    large: "https://res.cloudinary.com/leonemil/image/upload/v1580764030/Dev%20Team/cine-w1232.jpg",
    xlarge: "https://res.cloudinary.com/leonemil/image/upload/v1580764038/Dev%20Team/cine-w1651.jpg",
);

$laptop: (
    small: "https://res.cloudinary.com/leonemil/image/upload/v1580764030/Dev%20Team/laptop-w480.jpg",
    medium: "https://res.cloudinary.com/leonemil/image/upload/v1580764033/Dev%20Team/laptop-w1080.jpg",
    large: "https://res.cloudinary.com/leonemil/image/upload/v1580764056/Dev%20Team/laptop-w1524.jpg",
    xlarge: "https://res.cloudinary.com/leonemil/image/upload/v1580764060/Dev%20Team/laptop-w1890.jpg",
);

$books: (
    small: "https://res.cloudinary.com/leonemil/image/upload/v1580764034/Dev%20Team/libros-w480.jpg",
    medium: "https://res.cloudinary.com/leonemil/image/upload/v1580764051/Dev%20Team/libros-w950.jpg",
    large: "https://res.cloudinary.com/leonemil/image/upload/v1580764047/Dev%20Team/libros-w1271.jpg",
    xlarge: "https://res.cloudinary.com/leonemil/image/upload/v1580764051/Dev%20Team/libros-w1682.jpg",
);