.main-menu__toggle {
    background-image: url($menu-button);
}

.header {
    @include get-images($desktop)
}

.main-section--tools {
    @include get-images($laptop);
}

.main-section--books {
    @include get-images($books);
}

.main-section--videos {
    @include get-images($cinema);
}

.main-section--projects {
    @include get-images($desktop);
}

.footer__social-icon--gitlab,
.footer__social-icon--slack {
    background-size: cover;
}

.footer__social-icon--gitlab {
    background-image: url($gitlab);
}

.footer__social-icon--slack {
    background-image: url($slack);
}