.main-menu__link {
    color: white;
}

.button {
    color: inherit;
    background-color: steelblue;
}

.main-menu__link {
    &:hover{
        color: steelblue;
    }
}

.footer__rules-link {
    color: white;

    &:hover {
        color: steelblue;
    }
}

.project-card__link,
.tool-card__link {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}