.main-menu__list {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.main-menu__link,
.button {

    &:hover{
        text-decoration: none;
    }
}

.footer__rules-link {

    &:hover{
        text-decoration: none;
        color: steelblue;
    }
}

.footer__social-list {
    list-style: none;
}

.project-card__link,
.tool-card__link {
    &:hover {
        text-decoration: none;
    }
}